.HeroSec{
    margin-top: 70px;
    margin-left: 70px;
    margin-right: 70px;
}

.mostpopular{
    font-family: 'Noto Serif Display', serif;
    font-size:50px;
    text-transform: uppercase;
    width:10%;
}

.cursor{
    display: flex;
}

.heroslider-img{
    margin-top: 30px;
    min-height: 40rem;
    min-width: 40rem;
    padding: 0;
}

.heroslider-img img{
    width: 70%;
    height:70%;
    object-fit:cover;
    pointer-events: none;
    padding: auto;
}

.mainslid{
    cursor: grab;
    overflow: hidden;
}

.para-flex{
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    margin-top: 12px;
    font-size: 20px;
    width:70%;
}

.more{
    display: flex;
    float: right;
    margin-top:-5em;
    align-items: center;
    cursor: pointer;
    margin-right: 15px;
    position: relative;
}

.more p{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin-right: 12px;
    z-index: 3;
}

.more p::after{
    content: "";
    position: absolute;
    border: 1px solid black;
    width: 0%;
    bottom: 0;
    display: block;
    opacity: 0;
    transition: all ease-out 250ms;
}

.more p:hover::after{
    opacity: 1;
    width: 80%;
}

@media screen and (max-width:600px){
    .heroslider-img img{
        width: 50%;
        height:50%;
    }

    .para-flex{
        width:50%;
        font-size: 15px;
    }

    .heroslider-img{
        margin-right: -15em;
    }

    .more{
        margin-top:-12em;
    }

    .more p{
        font-size: 15px;
    }
}

@media screen and (max-width:500px) {
    .heroslider-img img{
        width: 40%;
        height:40%;
    }

    .para-flex{
        width:40%;
        flex-direction: column;
    }

    .heroslider-img{
        margin-right: -20em;
    }

    .more{
        margin-top:-18em;
    }
}
